<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>API Cosmic Go</title>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/4.0.6/sweetalert2.min.css" />

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />