<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <article id="info">
    <header>
      <h1><strong>API COSMIC GO</strong></h1>
      <h2>APP Developed by Ing. Julio Cesar Maldonado</h2>
    </header>
    <a href="https://github.com/DevJuliocesar">Github</a>
    <a href="https://www.instagram.com/dev_juliocesar/">Instagram</a>
  </article>
  <div id="container"></div>

</body>

<% include ../partials/scripts.ejs %>

</html>